@charset 'UTF-8';


h1, h2, h3 {
    text-align: center;
}

.description {
    display: flex;
    width: 50%;
}

.separator {
    height: 5px;
    background-color: rgb(202, 190, 190);
    opacity: 0.1;
    width: 100%;
}

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: darkslategray; 
    width: 100%;
}

.nav_div {
    width: auto;
    border: 0.5em solid black;
    padding: 1em;
    margin-right: 1em;
}


.slider {
    max-width: 1000px;
    height: 500px;
    background-color: white;
}

.slide {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    align-self: center;
}

body {
    outline: 2px solid red;
    background-color: white;
    
}

.show_off_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.show_off_container > div {
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgb(0,0,0);
}

.fibonacci_clock {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    background-color: black;
    /*border: 5px solid rgb(85, 85, 243);*/
    position: relative;
}

.clock_item {
    outline: 3px solid black;
    text-align: center;
    background-color: white;
    position: absolute;
}

.size_one {
    width: 12.5%;
    height: 20%;
    left: 25%;
}

.second_area {
    top: 20%;
}

.size_two {
    width: 25%;
    height: 40%;
    left: 0%;
    top: 0%;
}

.size_three {
    width: 37.5%;
    height: 60%;
    left: 0%;
    bottom: 0%;
}

.size_five {
    width: 62.5%;
    height: 100%;
    right: 0%;
}