@charset 'UTF-8';


.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: darkslategray; 
    width: 100%;
}

.nav_div {
    width: auto;
    border: 0.5em solid black;
    padding: 1em;
    margin-right: 1em;
}


.slider {
    max-width: 1000px;
    height: 500px;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

.slide {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

body {
    outline: 2px solid red;
    background-color: white;
}