.field {
    outline: 1px solid black;
    display: inline-block;
    background-color: white;
}

.snake {
    background-color: green !important;
}

.head {
    background-color: aqua !important;
}

.food {
    background-color: darkorange !important;
}